@media (max-width: 1280px) {
    .header__nav {
        padding-right: 140px;
    }
    .about img {
        width: 60%;
    }

    .hero {
    align-items:center;
    }

    .hero picture img {
        width: 100%;  
    }

    .hero__text {
        padding-block: 180px 150px;

    }

    .offers__right h3 {
        max-width: 50%;
    }

    .offers {
        padding-block: 120px 110px;
    }

    .about {
        padding-block: 90px 80px;
    }

    .about img {
        width: 50%;
    }

    .products {
        padding-block: 80px;
    }

    .testimonial {
        padding-block: 90px;
    }

    .top__products {
        padding-block: 80px;
    }

    .site__sections {
        padding-block: 90px;
    }

    .subscribe__block {
        padding: 55px 70px;
    }
    
}

@media (max-width: 1152px) {
    .header__nav {
        padding-right: 0;
    }

    .hero__text {
        padding-block: 90px 80px;

    }

    .offers {
        padding-block: 90px 80px;
    }

    .offers__right,
    .offers__left {
        height: 310px;
        padding-top: 70px;
    }
    
    .offers__left h3,
    .offers__right h3{
        font-size: 34px;
    }

    .about {
        padding-block: 70px 60px;
    }

    .about__text p,
    .about__points__block p {
        font-size: 16px;
    }

    .products__block {
        min-height: 550px;
        width: 380px;
    }

    .products__block__price img {
        margin-left: -12px;
    }

    .testimonial {
        padding-block: 10px 50px;
    }

    .testimonial__wrapper__text {
        gap: 25px;
    }
    .testimonial__statistics__wrapper {
        margin-top: 20px;
    }

    .testimonial__statistics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        row-gap: 10px;
    }

    .products__block {
        width: 350px;
    }

    .products__block__price {
        flex-wrap: wrap;
    }

    .products__block__price img {
        margin-left: 0px;
    }

    .testimonial {
        background-size: contain;
        background-position: none;
    }

    .eco__friendly img {
        width: 103%;
    }

    .eco__friendly__text__block {
        position: relative;
        left: -60px;
        padding: 0px 0px 0px 20px;
        background-color: var(--color-white);
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px; 
    }

    .eco__friendly__text__block__title {
        width: 100%;
    }

    .eco__friendly__text__block__text h3 {
        font-size: 21px;

    }

    .eco__friendly__text__block__text p {
        font-size: 16px;
    }

    .site__sections {
        padding-block: 50px;
    }

    .site__sections__block {
        min-height: 500px;
    }

    .contacts {
        padding-block: 50px;
    }
}

@media (max-width: 1024px) {
    .hero__text {
        padding-block: 18px 10px;
    }

    .hero picture img {
        width: 126%;
    }
    
    h1 {
        font-size: 50px;
    }

    .offers {
        padding-block: 60px;
    }

    .offers__left h3, .offers__right h3 {
        font-size: 30px;
    }

    .about {
        padding-block: 36px 45px;
    }

    .about img {
        width: 40%;
    }

    .about__text h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .about__points__block {
        margin-bottom: 15px;
    }

    .about__points__block p {
        font-size: 14px;
    }

    .eco__friendly img {
        width: 118%;
    }

    .eco__friendly__text__block__title {
        margin-bottom: 18px;
    }

    .eco__friendly__text__block__title h2 {
        font-size: 40px;
    }

    .subscribe__block {
        padding: 45px 70px;
    }

    .subscribe.container {
        padding-inline: 0;
    }

    .subscribe__content h2 {
        font-size: 36px;
    }

    .subscribe__form {
        align-items: center;
    }

    .subscribe__form__submit {
        align-self: center;
    }

    .subscribe__form__email {
        width: 336px;
        height: 65px;
        font-size: 16px;
    }

    .subscribe__form__submit {
        padding: 18px 70px 18px 35px
    }

    .contacts {
        padding-block: 35px;
    }

    .contacts__right__link {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
    }
}

@media (max-width: 1024px) {

    .header__nav_toogle {
        display: inline-block;
    }

    .header__nav_close {
        border: 0;
        background-color: transparent;
        color: var(--color-white);

        position: fixed;
        z-index: 999;

        top: 0;
        left: 25%;

        font-size: 56px;

        transform: rotate(45deg);
        cursor: pointer;
    }

    .header__nav_toogle {
        padding:14px 40px 14px 40px;
    }

    .header__links {
        display: none;
    }

    #header__nav_toogle:checked ~ .header__links,
    #header__nav_toogle:checked ~ .header__nav_close {
        display: flex;
    }

    .header.container {
        gap: 20px;
    }

    .header__nav {
        margin-right: auto;
    }

    .header__links {
        flex-direction: column;
        gap: 40px;

        width: 30%;
        height: 100%;

        min-width: 300px;
        max-width: 320px;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;

        box-shadow: 5px 0 30px #666;

        padding: 80px 50px 50px 50px;

        z-index: 998;
    }

    .header__link {
        color: var(--color-white)
    }

    .products {
        padding-block: 20px;
    }

    .products__block {
        min-height: 518px;
    }

    .testimonial__statistics__wrapper {
        width: 50%;
    }

    .testimonial__statistics__item {
        width: 200px;
        height: 200px;
    }
    
}

@media (max-width: 800px) {
    .hero {
        display: block;
        background-image: url(/images/hero_bg.png);
        background-repeat: no-repeat;
        background-position: cover;
    
    }
    .hero img {
        display: none;
    }

    .offers__right, .offers__left {
        height: 260px;
        padding-top: 12px;
    }

    .offers__left h3 {
        max-width: 60%;
        padding-top: 20px;
    }

    .about {
        flex-direction: column;
    }

    .about img {
        width: 70%;
    }

    .about__points__block img {
        width: 10%;
    }

    .products__block {
        min-height: 474px;
    }

    .button.explore {
        padding: 15px 71px 15px 33px;
    }

    .eco__friendly {
        display: block;
    }

    .eco__friendly img {
        display: none;
    }

    .eco__friendly__text__block {
        position: relative;
        left: 30px;
        overflow: hidden;
        z-index: 1;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      
    }


    .eco__friendly__text__block::before {
        position: absolute;
        content: url(/images/eco_friendly_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.3;
        top: 0;
        left: 0;

        z-index:-1;

    }

    .eco__friendly__text__block__text {
        width: 80%;
    }

    .site__sections__block {
        min-height: 370px;
    }

    .site__sections__block h3 {
        font-size: 15px;
    }

    .site__sections__block a {
        padding: 5px 44px;
    }   
    
    .subscribe__content {
        flex-direction: column;
        align-items: center;
    }

    .subscribe__content h2 {
        max-width: 30ch;
    }

    .subscribe__form__email {
        width: 230px;
        height: 50px;
        font-size: 14px;
    }

    .subscribe__form__submit {
        padding: 12px 70px 12px 35px;
    }

    .contacts__container {
        grid-template-columns: 1fr;
        padding-inline: 20px;
    }

    .contacts__left {
        justify-self: start;
        text-align: left;
    }

    .contacts__center {
        text-align: left;
        padding-inline: 12px;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 640px) {
    .offers.container {
        flex-direction: column;
    }

    .offers__right, .offers__left {
        height: 190px;
    }

    .offers__left,
    .offers__right {
        width: 563px;
    }

    .offers__left h3 {
        padding-top: 0;
    }

    .testimonial__statistics {
        column-gap: 10px;
    }

    .testimonial__statistics__item {
        width: 155px;
        height: 155px;
    }

    .top__products__items {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }

    .header__nav {
        margin-right: 0;
    }

    .hero {
        padding-inline: 20px;
    }

    .offers__left, .offers__right {
        width: 348px;
    }

    .offers__right h3 {
        max-width: 68%;
    }

    .button.shop {
        padding: 14px 71px 14px 33px;
    }

    .testimonial__statistics__wrapper {
        width: 100%;
    }

    .top__products {
        padding-block: 25px;
    }

    .top__products__header {
        flex-direction: column;
        align-items: flex-start;

        margin-bottom: 20px;
    
    }

    .eco__friendly__text__block {
        padding-block: 20px;
        left: 0px;
    }

    .site__sections__blocks {

        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    
    .subscribe__form {
        flex-direction: column;
    }
}

@media (max-width: 375px) {
    .offers__left, .offers__right {
        width: 298px;
    }

    .offers__left h3, .offers__right h3 {
        font-size: 19px;
    }

    .eco__friendly__text__block__title h2 {
        font-size: 32px;
    }

    .eco__friendly__text__block__text {
        width: 99%;
    }

    .subscribe__content h2 {
        font-size: 32px;
    }

    .contacts__left__item,
    .contacts__right__links li{
        margin-bottom: 10px;
    }

    .contacts__left__header h3, .contacts__right h3 {
        padding-bottom: 5px;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 48px;
    }

    .offers__left, .offers__right {
        width: 242px;
    }

    .testimonial__statistics__item {
        width: 135px;
        height: 135px;
    }

    .testimonial__statistics__item div {
        font-size: 14px;
    }

    .eco__friendly__text__block__text p {
        font-size: 14px;
    }

    .subscribe__block {
        padding: 40px 35px;
    }

    .contacts__center {
        padding-inline: 0px;
    }
    
    .socials {
        gap: 10px;
    }
}